
h1{
  color: rgb(214, 87, 93);
}

/* body{
  background-image: url("./imgs/ancient-antique-art-759550.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: center;
} */

span{
  font-size: 2em;
  color: black;
}
canvas{
  padding: 5%;
  border: black dashed 2px;
  color: black;
}